.container {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: #2d3e47;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  /* position: absolute; */
  z-index: 10;
}

.container div p {
  margin: 0px;
}

.links {
  display: flex;
  list-style-type: none;
  gap: 32px;
  margin: 0px;
  padding: 0px;
}
